@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

header {
    margin: 0px;
    margin-top: -1px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(to bottom,rgb(51, 51, 51), rgb(0, 110, 92));
}

body {
    margin: 0px;
    
}

a {
    margin: 0px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    border-radius: 5px;
    border-collapse: separate;
    box-shadow: 0px 0px 2px black;
    transition-duration: 0.3s;
}

a#instagram:hover {
    background-image: linear-gradient(to right, #6056C9, #DD347B);
    text-shadow: 1px 1px 1px black;
}

a#github:hover {
    background-color: rgb(63, 63, 63);
    text-shadow: 1px 1px 1px black;
}

a#linkedin:hover {
    background-image: linear-gradient(to right, white, #0a6bca);
    text-shadow: 1px 1px 1px black;
}

a#instagram:active {
    background-image: linear-gradient(to left, #FAAD5A, #7A04FF, #FD00BF);
}

a#github:active {
    background-color: rgb(63, 63, 63);
}

a#linkedin:active {
    background-color: #0A78B5;
    
}

h1 {
    font-size: 3em;
    font-weight: 300;
    color: white;
    margin: 0px;
    padding: 50px;
}

h2 {
    color: #772135;
    font-size: 2em;
    font-weight: 400;
    font-family: Lato, sans-serif;
}

ul {
    padding: 10px;
    text-decoration: none;
}

.waves {
    margin-bottom: -7px;
}

main {
    max-width: 700px;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

p {
    text-align: justify, center;
    text-indent: 20px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    padding: 10px;
}

iframe {
    height: 300px;
    width: 400px;
    scrollbar-color: inherit;
}

footer {
    background-color: #293E3B;
    margin: auto;
    padding: 1px;
    color: white;
    text-align: center;
}